/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
/*
 * Empty Stylesheet file.
 */

* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-green:#2E7D32;
}

#lista-przedmiotow:hover {
    -fx-fill : #FFFFFF;    
}

#lista-przedmiotow:pressed {
    -fx-fill : -fx-secondary;
}

.root {
    -fx-background-color : -fx-primary;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: -fx-secondary;
}

.label {
    -fx-text-fill : -fx-primarytext;
    
}


.glyph-icon {
    -fx-fill : -fx-primarytext;
}

.glyph-add {
    -fx-fill : -fx-green;
}

.glyph-remove {
    -fx-fill : -fx-red;
}

.button {
    -fx-text-fill : -fx-primarytext;
}

.add-button {
    -fx-border-radius : 50px;
    -fx-border-color : -fx-secondary;
    -fx-border-width: 2 2 2 2;
    -fx-background-radius: 50px;
}

.cancel-button {
    -fx-border-radius : 50px;
    -fx-border-color : -fx-secondary;
    -fx-border-width: 2 2 2 2;
    -fx-background-radius: 50px;
}



.cancel-button:hover {
    -fx-border-color : -fx-secondary;
    -fx-background-color : -fx-secondary;
    -fx-text-fill : -fx-primary;    
}

.cancel-button:hover .glyph-icon {
    -fx-fill : -fx-primary
}

.add-button:hover {
    -fx-border-color : -fx-secondary;
    -fx-background-color : -fx-secondary;
    -fx-text-fill : -fx-primary;    
}

.add-button:hover .glyph-icon {
    -fx-fill : -fx-primary
}






/* */

.menu-button{
    -fx-border-color : -fx-secondary;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius : 20px;
    -fx-background-radius: 20px;
}

.menu-button:hover {
    -fx-border-color : -fx-secondary;
    -fx-background-color : -fx-secondary;
    -fx-text-fill : -fx-primary;    
}

.menu-button:hover .glyph-icon {
    -fx-fill : -fx-primary
}

.jfx-text-field {
    -fx-prompt-text-fill: -fx-primarytext;
    -fx-text-inner-color: -fx-primarytext;
}

.jfx-text-area {
    -fx-prompt-text-fill: -fx-primarytext;
    -fx-text-inner-color: -fx-primarytext;
}



/*context-menu*/

.context-menu {
    -fx-font-size : 20px;
    -fx-font-weight : bold;
    -fx-background-color : -fx-primary;
}

.menu-item .label {
  -fx-text-fill: -fx-primarytext;
}

.menu-item:focused .label {  
  -fx-text-fill : -fx-primary; 
}

.menu-item:focused {
    -fx-background-color : -fx-secondary;
}


/*Main Screen CSS Styling starts here*/

/*TablPane styling*/
.tab{
    -fx-background-color: -fx-primary;
    -fx-pref-width : 350;
    -fx-pref-height : 60;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}



/*listview*/

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.list-cell:even { 
    -fx-background-color: -fx-primary;
}

.list-view {
     -fx-background-color: -fx-primary ;
}

.list-cell:odd {
    -fx-background-color : #323742;
}

.list-cell {
    -fx-text-fill : -fx-primarytext;    
    -fx-font-size : 15px;
    -fx-font-weight : bold;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}


/*Text styling*/
.main-text
{
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container{
    -fx-background-color: derive(-fx-primary, 10%);
}


/*TableView Default*/
.table-view{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-font-size: 16px; 
}
.table-view:focused{
    -fx-background-color: derive(-fx-primary, 20%);
}
.table-row-cell {
    -fx-cell-size: 40px;
}
.table-view .column-header-background{
    -fx-background-color: -fx-primary;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: white;
}
.table-row-cell:focused, .table-cell:focused{
    -fx-text-fill: -fx-primary;
}
.table-row-cell{
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-column{
    -fx-alignment: CENTER;  
}
.table-row-cell:even{
    -fx-background-color: derive(-fx-primary, 10%);
}
.table-row-cell:selected {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-background-insets: 0;
}
.table-row-cell:selected .table-cell{
    -fx-text-fill: -fx-primary;
}
.placeholder .label{
    -fx-text-fill: white;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: white;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: derive(-fx-primary, 60%);
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}
.table-view .filler{
    -fx-fill: -fx-primary;
    -fx-background-color: -fx-primary;
}
.table-context
{
    -fx-base: -fx-primary;
}




/* komunikat */

/*Dialog styling*/
.dialog-button{
    -fx-border-color: -fx-primary;
    -fx-text-fill: white;
    -fx-border-radius: 1px;
    -fx-background-radius: 3px;
    -fx-font-size : 20px;
    -fx-font-weight : bold;
}

.dialog-button:hover{
    -fx-background-color: -fx-green;
    -fx-border-color: derive(-fx-green, -20%);
    -fx-text-fill: white;
    
}

.jfx-layout-actions
{
    -fx-hgap:22;
}
/*JFXDialog styling*/
.jfx-layout-heading
{
    -fx-background-color: -fx-green;
    -fx-font-size : 25px;
}
.jfx-layout-heading .label
{
    -fx-text-fill: white;
}
.jfx-layout-body, .jfx-layout-actions{
    -fx-background-color: -fx-primary; 
    
}
.jfx-layout-body .label
{
    -fx-text-fill: white;
    -fx-font-size : 20px;
    -fx-padding: 20px 0 0 0;
}